.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  height: 40px;
  width: 320px;

  background-color: #142026;
  font-family: 'Courier New';
}

.labelMargin {
  margin-left: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.noDot {
  list-style: none;
}

.rootContainer {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fafafa;
  hr {
    margin-right: 20px;
  }
}

.sideBarMainContainer {
  display: flex;
}

// Sin the this.killmew() banner
.blue {
  color: #6699CC;
}

.red {
  color: #F07178;
  font-style: italic;
}

.teal {
  color: #5FB3B3;
}
