.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  width: 320px;

  background-color: #142026;
  font-family: 'Courier New';
}

.labelMargin {
  margin-left: 1em;
}

.loginForm {
  display: inline-flex;
  margin-left: 0.66em;
  margin-right: 0.66em;
  margin-top: 0.5em;
  button, label {
    
    margin-left: 0.66em;
    margin-right: 0.66em;
  }
}

.navbar {
  display: flex;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.noDot {
  list-style: none;
}

.rootContainer {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fafafa;
  hr {
    margin-right: 20px;
  }
}

.sideBarContainer {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eeeeee;
}

.sideBarLink {
  border-top: 1px solid grey;
  font-size: 13px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.sideBarLink:hover {
  cursor: pointer;
  border-top: 1px solid grey;
  font-size: 13px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: underline;
}

.sideBarMainContainer {
  display: flex;
}

.sideBarTitle {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

// Sin the this.killmew() banner
.blue {
  color: #6699CC;
}

.red {
  color: #F07178;
  font-style: italic;
}

.teal {
  color: #5FB3B3;
}
